<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="abanoubm.dayra">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <permission
        android:name="abanoubm.dayra.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="abanoubm.dayra.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAlgGqOWANsXdtowktdgqCCxazvz8l34M0" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="abanoubm.dayra.main.Splash"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="abanoubm.dayra.main.Main" />
        <activity android:name="abanoubm.dayra.main.Home" />
        <activity
            android:name="abanoubm.dayra.operations.AddContact"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".display.DisplayContacts" />
        <activity
            android:name=".display.DisplayContactDetails"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".operations.SearchBirthdays" />
        <activity android:name=".operations.Search" />
        <activity android:name=".operations.ExportContacts" />
        <activity android:name=".display.ContactMap" />
        <activity android:name=".operations.SearchDates" />
        <activity android:name=".operations.RegisterAttendance">

        </activity>
        <activity android:name=".display.MapLocations" />
        <activity android:name=".display.DisplayContactsStatistics" />
        <activity android:name=".operations.DivideDayra" />
        <activity android:name=".operations.ReplaceDayra" />
        <activity android:name=".operations.SendSMS" />
        <activity android:name=".main.Settings" />
        <activity android:name=".operations.CopyDayraPhone" />
        <activity android:name=".display.DisplayConnections" />
        <activity android:name=".operations.EditConnections" />
        <activity android:name=".operations.CopyPhoneDayra" />
        <activity android:name=".operations.EditContact" />

        <receiver android:name=".alarm.AttendReceiver" />
        <receiver android:name=".alarm.BDayReceiver" />
        <receiver android:name=".alarm.VisitReceiver" />
    </application>

</manifest>
